node_modules/
.env
__pycache__
data/chats/*
data/memory/*
package-lock.json
karakter.json
data/characters/562d4ca2-023f-46ee-ace6-acb4f47f11b0.json
update_memory.js
data/characters/6f51b687-91e7-44ec-b33a-09892d437faf.json
data/characters/7f69cb37-b8e3-4949-81f9-0c3a6422daae.json
error.txt
Kaggle-Llama-Private.py
Collab-Llama-Private.py